# ==========================================
# Docker Database Environmental Variables Settings Template
# ==========================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
POSTGRES_DB=supervisa_task_manager