# ==========================================
# Database environmental variables settings template
# ==========================================
DB_USER=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=LOCAL_DB_NAME
DB_HOST=LOCAL_HOST
DB_PORT=5432

# ==========================================
# Async db URL  
# ==========================================
DATABASE_URL=YOUR_DB_URL
